body.custom-btn {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 43, 91, 1);
  margin: 0;
  font-style: normal;
  padding: 0;
}

hr {
  border: none;
}
.hero-teampage1 {
  width: 100%;
  top: 0;
}
.hero-teampage1 div{
  
}

.hero-teampage1 img {
  width: 100%;
  height: 100%;
}

.team-ml {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  row-gap: 8vmin;
}

.team-ml div {
  width: 80%;
}

.team-ml a {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.pilihan-teampage1 {
  margin-bottom: 5%;
  width: 100vw;
  text-align: center;
}

.pilihan-teampage1 img {
  margin: 0 auto;
  border-radius: 5px;
  width: 80%;
}

.pilihan-teampage1 h1 {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 5vmax;
  color: #e6e6e6;
}

.pilihan-teampage1 span {
  color: rgba(1, 255, 244, 0.8);
}

.hero-teamict {
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 15rem;
  width: 100vmax;
  height: 90vmin;
  background-image: url(img/data.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

.nama-team {
  text-align: center;
  align-items: center;
  height: 100%;
  width: 40%;
  display: flex;


  color: #ffffff;
}

.nama h1 {
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2vmax;
  line-height: 32px;
  color: #ffffff;
}

/* nama dan resume player */
.hero-teamict .team-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-self: end;
  font-size: 1.5vmax;
  color: white;
}

.hero-teamict .info h1 {
  color: rgba(0, 43, 91, 1);
}

.team-text {
  width: 679px;
  height: 165px;
}

/* info end */

/* nama dan role player (bagian kiri) */
.nama h1 span {
  font-size: 21px;
}

.detilinfo {
  display: flex;
  color: rgba(0, 43, 91, 1);
  font-size: smaller;

  width: 680px;
}

.detilinfo span {
  font-size: 20px;
  color: white;
}

.gambar-pemain {
  height: 100%;
  position: absolute;
  left: 14rem;
}

.gambar-pemain img {
  height: 100%;
}

.about-team {
  text-align: center;
  width: 100%;
  margin-top: 8rem;
}

.about-team h1 {
  color: #ffffff;

  font-size: 70px;
  margin-bottom: 10rem;
}

.team-choice {
  display: flex;
  flex-wrap: wrap;
  height: 1200px;
  width: 100vw;
}

.team-choice .choice {
  padding-left: 2rem;
  padding-right: 1rem;
  background-image: url(img/team-choice.png);
  background-size: cover;
  display: flex;
  margin-left: 13rem;
  margin-right: 2rem;
  text-align: left;
  width: 30%;
  height: 45%;
}

.choice img {
  height: 100%;
}

.choice h2 {
  width: 450px;
  text-align: left;
  margin-top: 8rem;
  font-size: 25px;
  color: white;
}

.choice span {
  font-size: 18px;
}

.choice div {
  padding-left: 3rem;
  display: flex;
  width: 100%;
  height: 100%;
}

.team-achievments {
  align-items: center;
  padding-left: 3rem;
}

.match-count {
  margin-top: 20rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.match-count div {
  display: flex;
  color: white;
}

.match-count h1 {
  font-size: 150px;
  margin-bottom: 12rem;
}

.match-count h3 {
  margin: 3rem;
  font-size: 70px;
  height: 100px;
}

.match-count span {
  color: rgb(1, 255, 244, 0.8);
}

.match-count img {
  margin-bottom: 8rem;
  margin-left: 17rem;
  width: 75%;
}

/* CSS 4 SHOP */
.hero-shop {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(img/t-shirt%20vagos.png);
  background-size: cover;
  background-position: center;
}

.hero-shop div {
  text-align: left;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.button-to-shop {
  margin-left: 8%;
  min-height: 120px;
  font-weight: 800;
  font-size: 2.5vmax;
  line-height: 3rem;
  color: #ffffff;
  width: 20vmax;
  height: 10vmax;
  background: rgba(9, 57, 111, 0.7);
  border: 3px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-shop h1 {
  width: 80%;
  position: relative;
  font-size: 4vmax;
  font-weight: bold;
  color: #002b5b;
  translate: 7%;
}

.navbar-shop {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  top: 4vmin;
  justify-content: flex-end;
  align-items: center;
}

.logo-vagos {
  /* width: 60%;
  justify-self: left;
  display: flex;
  width: fit-content;
  position: relative;
  margin: auto;
  float: ; */
  padding-right: 13vw;
}

.navbar-shop .logo-vagos img {
  left: 0;
  width: 15vmax;
  margin: auto;
}

.nav-shop-a {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 2vmax;
  color: #ffffff;
  
}
.nav-shop-acc, 
.nav-shop-cart{
  display: flex;
  position: relative;
  align-items: center;
}

.nav-shop-cart a{
  font-size: 4.5vmax;
  opacity: 0.8;
  padding-left: 4vw;
}
.navbar-shop-acc a {
  display: flex;
  align-items: center;
  margin: auto;
}

.nav-shop-a h4 {
  text-decoration: none;
  color: #ffffff;
  margin: 1rem;
}
.navbar-shop .nav-shop-a img{
  width: 5vmax;
}

.navbar-sidebar {
  top: 0;
  left: -100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
  height: 100vh;
  z-index: 999999;
  background-color: #151C24;
}
.navbar-sidebar.active {
  left: 0;
}

.navbar-sidebar-header {
  padding: 10%;
  width: 100%;
  border-bottom: 2px solid white;
  height: 20%;
  display: flex;
  align-items: center;
}

.navbar-sidebar-content {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.navbar-sidebar-header,
.navbar-sidebar-content {

  display: flex;
  position: relative;
}

.navbar-sidebar-header h1 {
  text-align: center;
  font-size: 2vmax;
  font-weight: 300;
}

.navbar-sidebar-content h1 {
  font-size: 1.5vmax;
  font-weight: 100;
}

.main-shop{
  margin-top: 5%;
}

.all {
  align-items: center;
  position: relative;
  width: 100vw;
  height: 40vmin;
  display: flex;
}

.all h1 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 5vmax;
  line-height: 85px;
  color: #ffffff;
}

/* .all div {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  display: flex;
} */
.all img {
  margin: auto;
  margin: 0 auto;
  height: 1vmax;
  width: 30%;
}

.shop-main-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 5%;
  gap: 2%;
}

.shop-main-card {
  border-radius: 15px;
  margin: auto;
  transition: 0.3s;
  text-align: center;
  background-color: #ADD8E6;
  margin-bottom: 10rem;
  position: relative;
  padding-bottom: 3.5%;
  width: 25vw;
  height: 45vh;
}
.shop-main-card a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.shop-main-card img {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  border-radius: 15px 15px 0 0;
}

.shop-main-card-detil {
  padding: 5%;
  padding-bottom: 10%;
  position: relative;
  text-align: left;
  padding-left: 1rem;
}

.shop-main-card-detil h4 {
  margin: 0;
  position: relative;
  width: 100%;
  font-size: 2vmax;
  font-weight: 500;
  color: rgba(0, 43, 91, 1);
}

.shop-main-card-detil p {
  font-weight: 500;
  font-size: 1.5vmax;
  color: #000;
}

.main-shop aside {
  width: 100%;
  text-align: center;
}

.shop-main-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.view-more-shop {
  align-self: center;
  left: 20rem;
  background-color: transparent;
  margin-bottom: 10rem;
  box-sizing: border-box;
  width: 20%;
  min-height: 10vh;
  border: 3px solid #ffffff;
  min-width: 200px;
  font-weight: 800;
  font-size: 2vmax;
  line-height: 51px;
  color: #01fff4;
}

.more-shop {
  background-image: url(img/BG-MORESHOP.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  position: relative;
}

.more-shop-detil {
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.more-shop-detil img {
  width: 100%;
}

.more-shop-detil div {
  display: flex;
  flex-direction: column;
  row-gap: 2vmax ;
  padding-left: 10%;
  width: 100%;
  bottom: 20%;
  position: absolute;
  text-align: left;
}

.more-shop-detil button {
  padding: 3% 5%;
  backdrop-filter: blur(2px);
  width: 50%;
  left: 54.46px;
  background: rgba(9, 57, 111, 0.7);
  border: 3px solid #ffffff;
  font-size: 1.5vmax;
  color: #ffffff;
}

.more-shop-detil div h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2vmax;

  color: #01fff4;
}

.more-shop-none {
  text-align: center;
  display: none;
  width: 100vw;
  background-image: url(img/BG-MORESHOP.png);
  background-size: cover;
}

.more-shop-hp {
  height: 80vh;
  width: 75%;
  padding: 10%;
  display: flex;
  gap: 40%;
  margin: 0 auto;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

.more-shop-hp-slide {
  padding: 0;
  margin: 0 auto;
  flex-shrink: 0;
  width: 70vw;
  height: auto;
  border-radius: 10px;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.more-shop-hp-slide div {
  padding-left: 10%;
  width: 100%;
  bottom: 30%;
  position: absolute;
  text-align: left;
}

.more-shop-hp-slide h2 {
  width: 100%;
  font-weight: 700;
  font-size: 3vmax;
  line-height: 44px;
  margin: 0;
  /* identical to box height */

  color: #01fff4;
}

.more-shop-hp-slide button {
  backdrop-filter: blur(2px);
  box-sizing: border-box;
  width: 60%;
  height: 50px;
  min-height: 50px;
  left: 54.46px;
  background: rgba(9, 57, 111, 0.7);
  border: 3px solid #ffffff;
  font-size: 3vmax;
  line-height: 1.5rem;
  color: #ffffff;
}

.more-shop-hp-slide img {
  width: 100%;
}

.more-shop-hp-slide div {
  position: absolute;
}

/* CSS 4 SHOP END*/

/* CSS 4 ITEM-SHOP-PAGE */
.shop-detils {
  width: 98vw;
  display: flex;
  margin-top: 40vmin;
}

.shop-detils .shop-pic {
  display: flex;
  margin: 0;
  width: 50%;
}

.shop-detils .left {
  text-align: center;
  width: 20%;
}

.shop-detils .left img {
  margin: 0 auto;
  width: 80%;
}

.shop-detils .right {
  text-align: center;
  width: 80%;
}

.shop-detils .right img {
  margin: 0 auto;
  width: 80%;
  height: 50vh;
  border: 5px solid white;
  margin-bottom: 3rem;
}

.pic-hp {
  width: 60vw;
  height: 60vw;
  text-align: center;
  overflow: hidden;
  row-gap: 10%;
  display: none;
}

.slides {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 80%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
scroll-snap-points-x: repeat(300px);
scroll-snap-type: mandatory;
*/
}

.slides::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.slides::-webkit-scrollbar-thumb {
  background: #01cac0;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides>div {
  margin: 0 auto;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slides>div:target {
  /*   transform: scale(0.8); */
}

.pic-hp img {
  object-fit: cover;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.pic-hp>a {
  margin-top: 2%;
  display: inline-flex;
  width: 14%;
  height: 14%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pic-hp>a:active {
  top: 1px;
}

.pic-hp>a:focus {
  background: #000;
}

/* Don't need button navigation */

.product-desc {
  display: flex;
  flex-direction: column;
  row-gap: 2%;
  text-align: left;
  width: 100%;
  color: white;
  line-height: 4vmax;
}

.product-desc-container {
  width: 50%;
}

.product-desc img {
  width: 100%;
}

.product-desc h1 {
  font-size: 2.5vmax;
  font-weight: 700;
  width: 100%;
}

.product-desc h3 {
  margin: 0;
  font-size: 1.5vmax;
}

.product-desc h4 {
  margin: 0;
  font-size: 2vmax;
  font-weight: 600;
}

.product-desc p {
  font-size: 1.2vmax;
  padding: 5% 0;
}

.product-desc div {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 4rem;
}

.product-desc-input {
  width: 100%;
  height: 9%;
  min-height: 50px;
  display: flex;
  align-items: center;
  column-gap: 2%;
}

.input-container {
  justify-content: right;
  display: flex;
  position: relative;
  max-height: 100px;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0);
  margin: 0 auto;
  width: 50%;
  height: 40%;
  color: #ffffff;
  border: 1px solid #01fff4;
}

.input-container h1 {
  left: 5%;
  margin: auto;
  font-size: 1.5vmax;
  position: absolute;
}

.input-container .size-option {
  margin: auto 0;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5vmax;
  text-align: center;
  width: 80%;
  height: 100%;
  background: transparent;
}

#size-option::-ms-expand {
  display: none;
}

.size-option option {
  color: red;
  background-color: rgba(21, 28, 36, 0.47);
}

.product-desc-button {
  align-items: center;
  text-align: center;
  display: flex;
  column-fill: auto;
  margin: auto;
  justify-self: center;
  width: 80%;
  height: 10vmin;
  background: #0abeb7;
  border: 3px solid rgba(1, 255, 244, 0.5);
  font-weight: 800;
  font-size: 2vmin;
  color: #ffffff;
}

/* related-product */
.rp-title {
  margin-top: 20vh;

  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
}

.rp-title h1 {
  margin: 0 auto;
  font-size: 6vmin;
  font-weight: 900;
  color: #ffffff;
}

.rp-title img {
  margin: 0 auto;
  height: 9%;
  width: 25%;
}

.related-product .rp-main {
  margin: 0;
  gap: 5%;
  overflow-x: scroll;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  width: 100vw;
  height: 90vh;
  background-color: rgba(21, 28, 36, 0.47);
}

.rp-main::-webkit-scrollbar-thumb {
  background: #01cac0;
}

.rp-main::-webkit-scrollbar {
  display: none;
}

.rp-card {
  position: relative;
  text-align: left;
  width: 25vmax;
  height: 45vh;
}

.rp-card img {
  width: 100%;
  height: 100%;
}

.rp-card h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 3vmin;
  color: #01fff4;
  width: 100%;
}

.rp-card p {
  font-weight: 400;
  font-size: 2vmax;
  line-height: 2vmax;
  color: #ffffff;
}

/* .related-product end */

/* CSS 4 ITEM-SHOP-PAGE END */

/* //////////// */
.checkout-header {
  padding-top: 10%;

  height: 40%;
  margin: 0 auto;
  width: 100%;
}

.checkout-header img {
  margin: 0 auto;
  width: 30%;
}

.checkout-navigation {
  margin: 0 auto;
  width: 100%;
}

.checkout-navigation a {
  width: 100%;
  text-decoration: none;
  font-size: 2.5vmin;
  font-weight: 700;
  color: #ffffff;
}

/* checkout-information */

.CI-section {
  column-gap: 5%;
  display: flex;
  width: 100%;
  inline-size: auto;
}

.CI-left-container {
  width: 60%;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.CI-left-container form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.CI-from-div {
  text-align: left;
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
}

.CI-from-div h3 {
  font-size: 1.5vmax;
}

.CI-left-select {
  padding-left: 3%;

  width: 100%;
  height: 7vh;
  margin: 0 auto;

  border-radius: 0;
  background-color: transparent;

  border-bottom: 1px solid grey;
}

.CI-left-select label {
  position: absolute;
  font-size: 1vmax;
}

.CI-left-select input {
  color: white;
  font-size: 2vmin;
  align-items: end;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
}

.CI-left-select input:focus {
  border: none;
  outline: none;
}

.CI-left-select select {
  font-size: 2vmin;
  color: white;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.CI-left-select select:focus {
  border: none;
  outline: none;
}

.CI-left-select option {
  background-color: #002b5b;
}

.CI-province-codepos {
  width: 100%;
  display: flex;
  column-gap: 10%;
  margin: 0 auto;
}

.CI-button {
  width: 60%;
  height: 10vmax;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.CI-button input {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background: #0abeb7;
  border: none;
  border-radius: 3px;
  font-weight: 800;
  font-size: 2vmin;

  color: #ffffff;
}

.CI-button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 2vmin;

  color: #ffffff;
}

/* ci right continer */
.Checkout-cart {

  overflow: scroll;
  right: 0;
  background-color: #151c24;
  width: 40%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
}

.Checkout-cart h3 {
  font-size: 3vmin;
}

.Checkout-cart-info {
  display: flex;
  color: #ffffff;
}

.Checkout-img-container {
  text-align: center;
  width: 50%;
}

.checkout-item-info {
  gap: 20vmin;
  font-size: 1vmax;
  width: 50%;
}

.checkout-item-info h4 {
  font-size: 1vmax;
}

.Checkout-cart-info img {
  margin: auto;
  width: 90%;
  height: calc(1 * var(--width));
}

.checkout-cart-label {
  display: flex;
}

.Checkout-cart-input {
  height: 30%;
  display: flex;
  align-items: center;
}

.Checkout-cart-input input {
  margin: 0 auto;
  box-sizing: border-box;
  width: 60%;
  height: 6vmin;
  font-size: 100%;
  text-align: center;
  color: #ffffff;
  background: #151c24;
  border: 1px solid #ffffff;
}

.Checkout-cart-input button {
  padding: 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 30%;
  height: 30%;
  background: #0abeb7;
  border: none;
  font-weight: bolder;
  font-size: 1vmax;

  color: #ffffff;
}

.Checkout-totalprice div {
  width: 90%;
  justify-self: center;
  margin: auto;
  display: flex;
  color: #ffffff;
}

.Checkout-totalprice p {
  font-size: 1.3vmax;
}

/* check-product information end */
/* shipping product begin */
.shipping-method {
  align-items: center;
  height: 300px;
  width: 120%;
  display: flex;

  row-gap: 20px;
}

.shipping-nextbtn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.shipping-nextbtn input {
  margin: 0 auto;
  box-sizing: border-box;
  width: 345px;
  height: 76px;
  background: #0abeb7;
  border: 3px solid rgba(1, 255, 244, 0.5);
  border-radius: 8px;

  left: calc(50% - 298px / 2 - 152.5px);
  top: 1089px;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

.shipping-nextbtn a {
  text-decoration: none;
  font-size: 29px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 auto;
}

/* shipping product end */


/* MEDIA QUERY */
/* Gaya untuk layar dengan lebar 320px atau lebih kecil */
@media (max-width: 1024px) {
  .button-to-shop {
    min-height: 0;
  }
}
  .hero-shop div{
    top: 55%;
  }
@media (max-width: 576px) {
  .navbar-sidebar {
    left: -100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 55%;
    height: 100vh;
    z-index: 999999;
    background-color: #151C24;
  }

  .navbar-sidebar-header {
    padding: 20%;
    width: 100%;
    border-bottom: 2px solid white;
    height: 20%;
    display: flex;
    align-items: center;
  }

  .navbar-sidebar-content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
  }

  .navbar-sidebar-header,
  .navbar-sidebar-content {

    display: flex;
    position: relative;
  }

  .navbar-sidebar-header h1 {
    text-align: center;
    font-size: 2vmax;
    font-weight: 300;
  }

  .navbar-sidebar-content h1 {
    font-size: 1.5vmax;
    font-weight: 100;
  }

  .pilihan-teampage1 .check {
    font-size: 6vmin;
  }

  .navbar-shop h4 {
    display: none;
  }

  .hero-shop {
    text-align: center;
  }

  .hero-shop div {
    top: 76%;
    padding: 5%;
  }

  .card {
    width: 70vw;
    height: 70vh;
  }

  .card img {
    width: 100%;
    height: 100%;
  }

  .button-to-shop {
    min-height: 0;
  }

  .hero-shop h1 {
    translate: 0;
  }

  .more-shop {
    display: none;
  }

  .more-shop-detil {
    width: 80%;
  }

  .more-shop-none {
    display: block;
  }

  .shop-detils .left {
    display: none;
  }

  .shop-detils .shop-pic {
    display: none;
  }

  .product-desc-container {
    width: 40%;
  }

  .product-desc {
    line-height: normal;
    height: 25vh;
    overflow-x: scroll;
    font-size: 1px;
  }

  .product-desc h1 {
    font-size: 2vmax;
  }

  .product-desc h3 {
    font-size: 1.2vmax;
  }

  .product-desc h4 {
    font-size: 1.8vmax;
  }

  .product-desc p {

    font-size: 1.2vmax;
  }

  .pic-hp {
    display: block;
  }

  .input-container .size-option {
    font-size: 3vmin;
    /* text-align: right; */
  }

  .related-product .rp-main {
    width: 100vw;
    height: 50vh;
  }

  .rp-main .rp-card {
    width: 80%;
  }

  .CI-left-select {
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;


  }

  .Checkout-cart
}

@media (max-width: 390px) {
  .input-container .size-option {
    text-align: right;
  }
}

.choice :hover {
  cursor: pointer;
  border: 2px solid white;
}

  